{% extends '::base.html.twig' %}

{% block title %} Hi Map!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/shmap/css/main.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    <div id="subHeader">
        <h1 id="logo">Hello {{ name }}!</h1>
    </div>

    <div id="subhCanvas"></div>

    <div id="infoboxC" class="hidden">
        <div class='cArrow'></div>
        <div class='shopInfoIB'>
            <div class='containerThumb'><img class="thumbSH" src=""></div>
            <h3 id="titleIB"></h3>
            <div id="descriptionIB"></div>
             vizite: <p id="visitsIB"></p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDuOqt039hnY8o2L6IuCNCCZ27QFh2TbjY"></script>
    <script src="{{ asset('bundles/shmap/js/infobox.js') }}"></script>

<script>
    var $ = jQuery;
    var localpath = 'http://localhost/symfony/web';
    var shops = [
        {
            id: '1',
            title: 'Balta Alba',
            lat: 44.460238,
            long: 26.064904,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '2',
            title: 'Croitoreasa SA',
            lat: 44.409002,
            long: 26.157430,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '3',
            title: 'Tricubalba',
            lat: 44.429967,
            long: 26.131166,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '4',
            title: 'Alin si Diana SA',
            lat: 44.423470,
            long: 26.066449,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        }
    ];


    /* Style of map in this object */
    var styleMap = [
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                { "hue": "#e9efeb" },
                { "saturation": -78 },
                { "lightness": 60 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                { "hue": "#f5f5f5" },
                { "saturation": -100 },
                { "lightness": 100 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                { "hue": "#bbc0c4" },
                { "saturation": -93 },
                { "lightness": 31 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                { "hue": "#f5f5f5" },
                { "saturation": -100 },
                { "lightness": 100 },
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [
                { "hue": "#e9ebed" },
                { "saturation": -90 },
                { "lightness": 5 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                { "hue": "#e9ebed" },
                { "saturation": 10 },
                { "lightness": 69 },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "all",
            "stylers": [
                { "hue": "#2ecc71" },
                { "saturation": 40 },
                { "lightness": 35 },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
                { "hue": "#bbc0c4" },
                { "saturation": -93 },
                { "lightness": 21 },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels",
            "stylers": [
                { "hue": "#bbc0c4" },
                { "saturation": -93 },
                { "lightness": 5 },
                { "visibility": "simplified" }
            ]
        }
    ];

    var startLat = 44.432380;
    var startLong =  26.103541;


    /* Initialize the map  on load page */
    function initializeM(shops) {

        /* Option configuration of map initialize */
        var mapOpts = {
            zoom: 13,
            center: new google.maps.LatLng( startLat, startLong ),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: styleMap,
            mapTypeControl: false,
            navigationControl: true,
            disableDefaultUI: true,
            streetViewControl: false,
            scaleControl: true
        };

        var map = new google.maps.Map(document.getElementById('subhCanvas'), mapOpts);
        setMarkers(map, shops);
    } /* end of initializeM() */

    function setMarkers(map, shops) {

        // Add markers to the map
        var iconMarker = {
            url: localpath + '/bundles/shmap/images/marker.png',
            size: new google.maps.Size(30, 30),
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 32)
        };

        // Add shape clickable to the marker
        var shapeMarker = {
            coords: [1, 1, 1, 23, 20, 23, 20 , 1],
            type: 'poly'
        };

        /* Info Box option displayed on shop click on the map */
        var infoBoxObj = {
            disableAutoPan: false,
            maxWidth: 0,
            pixelOffset: new google.maps.Size(-140, 0),
            boxStyle: {},
            closeBoxMargin: "3px 2px 0 0",
            closeBoxURL: localpath + '/bundles/shmap/images/close.png',
            infoBoxClearance: new google.maps.Size(1, 1),
            isHidden: false,
            pane: "floatPane",
            enableEventPropagation: false,
            zIndex: null,
            boxClass: "infoSH"
        };

        /* Create an Object of infobox.js */
        infoBoxObj = new InfoBox(infoBoxObj);


        for (var i = 0; i < shops.length; i++) {

            var shopx = shops[i];
            var myLatLng = new google.maps.LatLng(shopx.lat, shopx.long);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                id: shopx.id,
                key: i,
                icon: iconMarker,
                shape: shapeMarker,
                zIndex: 100,
                ib: infoBoxObj
            });

            // Add listener for a click on the pin
            google.maps.event.addListener( marker , 'click' , (function(marker){
                return function() {
                if(typeof lastIb != 'undefined')  lastIb.close();

                    var id = shops[ marker.key ].id;
                    var t  = $('h3#titleIB');
                    var d  = $('div#descriptionIB');
                    var v  = $('#visitsIB');
                    var i  = $('.thumbSH');

                    i.attr('src' , localpath + '/images/loader.gif', function(){
                        d.html('');
                        v.html('');
                        t.html('' , function(){
                            marker.ib.open(map, marker);
                        });
                    });

                    $.ajax({
                        type: "POST",
                        url: localpath + '/getshopdetails/' + id,
                        contentType: "application/json",
                        cache: false,
                        async: true,
                        success: function (r) {
                            var s = r.shops;

                            t.text(s.title);
                            d.text(s.description);
                            v.text(s.visits);
                            i.attr('src', localpath + '/images/shops/' + id + '/shop_avatar.jpg');

                            c = $('div#infoboxC').html();

                            marker.ib.setContent(c);
                            marker.ib.open(map, marker);
                            lastIb = marker.ib;

                        }
                    });


                };
            })(marker));

        } /* end for() */

    } /* end of setMarkers */

    google.maps.event.addDomListener(window, 'load', initializeM(shops));
    </script>
{% endblock %}

