{% extends '::base.html.twig' %}

{% block title %} Hi Map!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/shmap/css/main.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    <div id="subHeader">
        <h1 id="logo">Hello {{ name }}!</h1>
    </div>

    <div id="subhCanvas"></div>
{% endblock %}

{% block javascripts %}
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDuOqt039hnY8o2L6IuCNCCZ27QFh2TbjY"></script>
    <script src="{{ asset('bundles/shmap/js/infobox.js') }}"></script>

<script>
    var localpath = 'http://localhost/symfony';
    var shops = [
        {
            id: '1',
            title: 'Balta Alba',
            lat: 44.460238,
            long: 26.064904,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '2',
            title: 'Croitoreasa SA',
            lat: 44.409002,
            long: 26.157430,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '3',
            title: 'Tricubalba',
            lat: 44.429967,
            long: 26.131166,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '4',
            title: 'Alin si Diana SA',
            lat: 44.423470,
            long: 26.066449,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '5',
            title: 'Petre Ispirescu 21',
            lat: 44.412292,
            long: 26.067293,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '6',
            title: 'Calea Văcărești 276',
            lat: 44.409956,
            long: 26.117687,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '7',
            title: 'Superman Shop',
            lat: 44.439140,
            long: 26.127632,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '8',
            title: 'Zorro Shop',
            lat: 44.436689,
            long: 26.097420,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '9',
            title: 'Maroubra Shop',
            lat: 44.435525,
            long:  26.116903,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        },
        {
            id: '10',
            title: 'Stefan cel Mic',
            lat: 44.453295,
            long:  26.107131,
            desc: 'Descrierea acestui magazin consta in faptul ca este foarte primitor.'
        }
    ];

    /* Get Content for fresh opened boxy Shop on map */
    function getContentBox(key){
        return "" +
        "<div class='cArrow'></div>" +
        "<div id='shopInfo" + shops[key].id+"'>" +
            "<div class='containerThumb'><img class='thumbSH' src='"+localpath+"/web/images/shops/1/shop_avatar.jpg' title='" + shops[key].title + "'></div>"+
            "<h3> " + shops[key].title +  "</h3>" +
            "<p>" + shops[key].desc + "</p>" +
        "</div>";

        $.ajax({
            type: "POST",
            url: localpath + 'shops/getQ',
            data: dataX,
            contentType: "application/json",
            cache: false,
            async: true,
            beforeSend: function(){
                Q.startLoad();
            },
            success: function (r) {

                //console.log(r);
                Q.endLoad();
                var s = JSON.parse(r);
                Q.updateContent(s);
                $('.sissiAnswer.active').removeClass('active');
                $('#curentQ').html(Q.curent);
                Q.curent++;
            }
        });
    }

    /* Style of map in this object */
    var styleMap = [
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                { "hue": "#e9efeb" },
                { "saturation": -78 },
                { "lightness": 60 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                { "hue": "#f5f5f5" },
                { "saturation": -100 },
                { "lightness": 100 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                { "hue": "#bbc0c4" },
                { "saturation": -93 },
                { "lightness": 31 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                { "hue": "#f5f5f5" },
                { "saturation": -100 },
                { "lightness": 100 },
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [
                { "hue": "#e9ebed" },
                { "saturation": -90 },
                { "lightness": 5 },
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                { "hue": "#e9ebed" },
                { "saturation": 10 },
                { "lightness": 69 },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "all",
            "stylers": [
                { "hue": "#2ecc71" },
                { "saturation": 40 },
                { "lightness": 35 },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
                { "hue": "#bbc0c4" },
                { "saturation": -93 },
                { "lightness": 21 },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels",
            "stylers": [
                { "hue": "#bbc0c4" },
                { "saturation": -93 },
                { "lightness": 5 },
                { "visibility": "simplified" }
            ]
        }
    ];

    var startLat = 44.432380;
    var startLong =  26.103541;


    /* Initialize the map  on load page */
    function initializeM(shops) {

        /* Option configuration of map initialize */
        var mapOpts = {
            zoom: 13,
            center: new google.maps.LatLng( startLat, startLong ),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: styleMap,
            mapTypeControl: false,
            navigationControl: true,
            disableDefaultUI: true,
            streetViewControl: false,
            scaleControl: true
        };

        var map = new google.maps.Map(document.getElementById('subhCanvas'), mapOpts);
        setMarkers(map, shops);
    } /* end of initializeM() */

    function setMarkers(map, shops) {

        // Add markers to the map
        var iconMarker = {
            url: localpath+ '/web/bundles/shmap/images/marker.png',
            size: new google.maps.Size(30, 30),
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 32)
        };

        // Add shape clickable to the marker
        var shapeMarker = {
            coords: [1, 1, 1, 23, 20, 23, 20 , 1],
            type: 'poly'
        };

        /* Info Box option displayed on shop click on the map */
        var infoBoxObj = {
            disableAutoPan: false,
            maxWidth: 0,
            pixelOffset: new google.maps.Size(-140, 0),
            boxStyle: {},
            closeBoxMargin: "3px 2px 0 0",
            closeBoxURL: localpath+ '/web/bundles/shmap/images/close.png',
            infoBoxClearance: new google.maps.Size(1, 1),
            isHidden: false,
            pane: "floatPane",
            enableEventPropagation: false,
            zIndex: null,
            boxClass: "infoSH"
        };

        /* Create an Object of infobox.js */
        infoBoxObj = new InfoBox(infoBoxObj);


        for (var i = 0; i < shops.length; i++) {

            var shopx = shops[i];
            var myLatLng = new google.maps.LatLng(shopx.lat, shopx.long);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                id: shopx.id,
                key: i,
                icon: iconMarker,
                shape: shapeMarker,
                zIndex: 100,
                ib: infoBoxObj
            });

            // Add listener for a click on the pin
            google.maps.event.addListener( marker , 'click' , (function(marker){
                return function() {
                if(typeof lastIb != 'undefined')  lastIb.close();

                    c = getContentBox(marker.key);
                    marker.ib.setContent(c);
                    marker.ib.open(map, marker);
                    lastIb = marker.ib;

                };
            })(marker));

        } /* end for() */

    } /* end of setMarkers */

    google.maps.event.addDomListener(window, 'load', initializeM(shops));
    </script>
{% endblock %}

