{% extends "::base.html.twig" %}

{% block title %}shmapBundle:Initialize:getShopDetails{% endblock %}


{% block body %}
<h1>Welcome to the Initialize:getShopDetails page</h1>
<br><hr>

    {% for item in shops %}
        <li>{{ item.id }} {{ item.title }}</li>
    {% endfor %}


{% endblock %}
